html, body {
  height: 100%;
}

#grad {
  background-image: linear-gradient(red, yellow);
}

body {
  
  background-image: linear-gradient(rgb(43, 94, 33), rgb(57, 140, 27));
  margin: 0;
  /*display: flex;*/

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

p{
	font-size: 16pt;
	color: white;
}
#btn{
  font-size: 16pt;
  background: white;
}

#phpbtn{
  font-size: 16pt;
  background: white;
}
#load_opt{
  font-size: 16pt;
  background: white;
}
#show_opt{
  font-size: 16pt;
  background: white;
}